[submodule "src/botx-slam"]
	path = src/botx-slam
	url = https://github.com/onecrew-ai/botx-slam
	branch = main
[submodule "src/botx-ui"]
	path = src/botx-ui
	url = https://github.com/onecrew-ai/botx-ui
	branch = main
[submodule "src/botx-control-gz"]
	path = src/botx-control-gz
	url = https://github.com/onecrew-ai/botx-control-gz
	branch = main
[submodule "src/botx-description"]
	path = src/botx-description
	url = https://github.com/onecrew-ai/botx-description
	branch = main
[submodule "documents/botx-document"]
	path = documents/botx-document
	url = https://github.com/onecrew-ai/botx-document
	branch = main
