name: ROS CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  ros_ci:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        ros_distro: [jazzy]
        ros_version: [2]
        include:
          - ros_distro: jazzy
            ros_version: 2
            docker_image: ubuntu:noble

    container:
      image: ${{ matrix.docker_image }}

    steps:
      - uses: actions/checkout@v3

      - name: Setup ROS
        uses: ros-tooling/setup-ros@v0.7
        with:
          required-ros-distributions: ${{ matrix.ros_distro }}

      - name: Build and test ROS 2
        uses: ros-tooling/action-ros-ci@v0.3
        with:
          import-token: ${{ github.token }}
          target-ros2-distro: ${{ matrix.ros_distro }}
          skip-tests: true
